<h2>Input Your good doggy</h2>
<% if flash[:errors] %>
    <% flash[:errors].each do |error|%>
        <h5><%= error %></h5>
    <% end %>
<% end %>
<h2>Form with text fields</h2>
<%= form_with url: "/dog", method: :post do |f| %>
    <%= f.label :name %>:
    <%= f.text_field :name%><br><br>

    <%= f.label :age %>:
    <%= f.text_field :age %><br><br>

    <%= f.label :breed %>:
    <%= f.text_field :breed %><br><br>

    <%= f.label :bio %>:
    <%= f.text_field :bio%><br><br>

    <%= f.submit :Add %>
<% end %>

<h2>Form with using select tags</h2>
<%= form_with url: "/dog", method: :post do |f|%>
    <%= f.label :name %>
    <%= f.select(:name, ["Lily", "Cali", "Raven"]) %><br>

    <%= f.label :breed %>
    <%= f.select(:breed, ["Golden Retriever", "Labrador", "Shitzu"]) %><br>

    <%= f.label :age %>
    <%= f.select(:age, ["1", "2", "3", "4", "5"])%><br>

    <%= f.label :bio %>
    <%= f.text_field :bio %><br><br>

    <%= f.submit :Add %>
<% end %>

<h2>Form with </h2>